
body {
    font-family:'Avenir Next LT Pro';
    font-size:1.2rem;
    margin-top:10px;
    font-weight:bold;
}

.logo{
    margin-left: 40px;
}



.masterbutton {
    padding: .5rem 2.5rem;
    font-size: .95rem;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    border-color: #febe19;
    background-color: transparent;
    border-radius: 25px;
}